<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.1" rel="stylesheet">
  <title></title>
</head>

<body>

  <header class="page-header">
    <nav class="main-nav">
      <div class="main-nav__container base-container">

        <a class="main-nav__logo-link base-link" href="index.html">
          <svg class="main-nav__logo-icon" width="127" height="92" alt="Логотип">
            <use href="img/icon/sprite.svg#logo-icon"></use>
          </svg>
        </a>

        <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">

          <!-- <a class="main-nav__logo-link main-nav__logo-link--mobile base-link" href="index.html">
            <svg class="main-nav__logo-icon" width="127" height="92" alt="Логотип">
              <use href="img/icon/sprite.svg#logo-icon"></use>
            </svg>
          </a> -->

          <ul class="main-nav__nav-list base-list">
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="#about">О нас</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="#services">Услуги</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="#projects">Проекты</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="#contacts">Контакты</a>
            </li>
          </ul>

          <div class="main-nav__nav-side">
            <div class="main-nav__nav-lang">
              <a class="main-nav__lang-item main-nav__lang-item--active base-link" href="#">en</a>
              <a class="main-nav__lang-item base-link" href="#"><span>/</span>por</a>
              <a class="main-nav__lang-item base-link" href="#"><span>/</span>rus</a>
              <a class="main-nav__lang-item base-link" href="#"><span>/</span>uk</a>
            </div>

            @@include('../_bem/_socials.html')

            <a class="main-nav__nav-phone base-link" href="#">
              <svg class="main-nav__phone-icon" width="16" height="16" aria-hidden="true">
                <use href="img/icon/sprite.svg#phone-icon"></use>
              </svg>
              <span class="main-nav__phone-text">915 855 963</span>
            </a>

            <button class="main-nav__callback callback-button base-button" type="button" id="callback_modal_button">Заказать звонок</button>
          </div>

        </div>
        <button class="main-nav__burger base-button" id="burger">
          <span class="main-nav__burger-line"></span>
        </button>
      </div>
    </nav>
  </header>

  <div class="modal-callback" id="modal_callback">
    <div class="modal-callback__wrapper">
      <button class="modal-callback__close base-button" id="modal_callback_close">
        <svg class="modal-callback__close-icon" width="20" height="20" alt="#">
          <use href="img/icon/sprite.svg#modal-callback-close-icon"></use>
        </svg>
      </button>
      <div class="modal-callback__inner">
        <span class="modal-callback__inner-title base-title">Заказать звонок</span>
        <p class="modal-callback__inner-subtitle base-par">
          Отправьте заявку и наш менеджер с вами свяжется в ближайшее время
        </p>
        <form class="modal-callback__inner-form" id="modal_callback_form">
          <input class="modal-callback__form-input" type="text" name="name">
          <input class="modal-callback__form-input" type="phone" name="phone">
          <button class="modal-callback__form-submit base-button" type="submit">Отправить</button>
        </form>
      </div>
      <div class="modal-callback__success">
        <span class="modal-callback__success-text">Спасибо, ваша заявка отправлена</span>
      </div>
    </div>
  </div>