<footer class="page-footer">

  <section class="footer-main">
    <div class="footer-main__container base-container">
      <a class="footer-main__logo-link base-link" href="index.html">
        <svg class="footer-main__logo-icon" width="138" height="61" alt="#">
          <use href="img/icon/sprite.svg#logo-icon"></use>
        </svg>
      </a>
      <span class="footer-main__address"></span>
      <span class="footer-main__copyright"></span>
      <a class="footer-main__policy base-link" href="#">Политика конфиденциальности</a>
      <a class="footer-main__isart base-link" targe="_blank" rel="noreferrer" href="https://is-art.ru/">
        <span class="footer-main__isart-text">Разработано</span>
        <svg class="footer-main__isart-icon" width="52" height="22" alt="#">
          <use href="img/icon/sprite.svg#isart-logo-icon"></use>
        </svg>
      </a>
    </div>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>
</body>

</html>