@use "../mixins";

.callback-block {
  background-color: var(--color-white);

  // padding: 0 0 100px 0;

  @include mixins.respond-to(notDesktop) {
    // padding: 0 0 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
    }
  }

  &__title {
    width: 100%;

    padding: 0 5% 0 5%;
    margin: 0 0 30px 0;
  }

  &__wrapper {
    position: relative;

    display: flex;
    gap: 24px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;

      gap: 0;
    }

    & .persi-button {
      position: absolute;
      bottom: 11px;
      right: 28px;

      @include mixins.respond-to(notDesktop) {
        bottom: 15px;
        right: 15px;
      }
    }
  }

  &__column {
    width: 50%;
    min-height: 574px;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
      min-height: auto;
    }

    &--left {
      background-color: var(--color-elm);

      padding: 45px 40px;

      @include mixins.respond-to(notDesktop) {
        order: 2;

        padding: 50px 5%;
      }
    }

    &--right {
      background-color: #F4F4F4;

      @include mixins.respond-to(notDesktop) {
        order: 1;
      }
    }

    &-caption {
      position: relative;

      width: 100%;

      padding: 0 0 68px 0;
      margin: 0 0 68px 0;

      @include mixins.respond-to(notDesktop) {
        padding: 0 0 25px 0;
        margin: 0 0 25px 0;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 2px;
        background-color: var(--color-white);
      }

      & p {
        font-family: var(--font-family-second);
        font-weight: 600;
        font-size: 35px;
        line-height: 38px;
        color: var(--color-white);

        padding: 0;
        margin: 0;
      }
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-desc {
      padding: 52px 47px 0 40px;

      @include mixins.respond-to(notDesktop) {
        padding: 15px 23px 26px 20px;
      }
    }

    &-img {
      @include mixins.respond-to(notDesktop) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__contacts {
    &-title {
      opacity: 0.5;

      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: var(--color-white);

      margin: 0 0 7px 0;
    }

    &-main {
      margin: 0 0 23px 0;

      & p {
        font-family: var(--font-family-second);
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: var(--color-white);

        padding: 0;
        margin: 0;
      }

      & a {
        color: var(--color-white);
        text-decoration: none;

        transition: color 0.1s;

        &:hover {
          color: var(--color-persimmon);

          transition: color 0.1s;
        }
      }
    }
  }
}