@use "../mixins";

.description {
  background-color: var(--color-white);

  padding: 93px 0 152px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 41px 0 76px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    // width: 100%;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
    }
  }

  &__column {
    &--left {
      margin: 0 161px 0 0;

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 20px 0;
      }
    }

    &-title {
      display: inline-block;

      max-width: 750px;

      color: var(--color-silver-chalice);

      margin: 0 0 40px 0;

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 20px 0;
      }
    }

    &-text {
      max-width: 610px;
    }

    &-image {
      margin: 0 0 21px 0;

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 11px 0;
      }
    }

    &-img {
      width: 526px;
      height: 272px;
      object-fit: cover;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
        height: auto;
      }
    }
  }
}