@use "../mixins";

.features {
  background-color: var(--color-white);

  padding: 100px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--color-silver-chalice);

    margin: 0 0 41px 0;

    @include mixins.respond-to(notDesktop) {
      margin: 0 0 30px 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-item {
      position: relative;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      width: 100%;

      padding: 35px 0 0 0;
      margin: 0 0 41px 0;

      @include mixins.respond-to(notDesktop) {
        margin: 35px 0 0 0;
      }

      // &:last-child {
      //   margin: 0;
      // }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 2px;
        background-color: #D9D9D9;
      }

      &::after {
        content: "";
        position: absolute;
        top: -12px;
        right: 0;

        width: 24px;
        height: 24px;
        background-color: var(--color-elm);
        border-radius: 50%;
      }

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__item {
    &-info {
      margin: 0 10px 0 0;

      @include mixins.respond-to(notDesktop) {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 0 5px 0;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: var(--color-mine-shaft);

      margin: 0 0 16px 0;

      @include mixins.respond-to(notDesktop) {
        order: 2;

        margin: 0;
      }
    }

    &-num {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 47px;
      height: 47px;
      background-color: var(--color-vivid-tangerine);
      border-radius: 50%;

      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-black);

      @include mixins.respond-to(notDesktop) {
        order: 1;

        margin: 0 0 10px 0;
      }
    }

    &-content {
      display: flex;
      align-items: stretch;

      margin: 0 0 0 auto;

      @include mixins.respond-to(notDesktop) {
        margin: 0;
      }
    }

    &-text {
      max-width: 485px;

      margin: 0 24px 0 0;

      @include mixins.respond-to(notDesktop) {
        text-align: center;

        margin: 0;
      }
    }

    &-image {
      @include mixins.respond-to(notDesktop) {
        display: none;
      }
    }

    &-img {
      width: 416px;
      height: 205px;
      object-fit: cover;
    }
  }
}