@use "../mixins";

.heading {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 739px;

  padding: 120px 0 0 0;

  z-index: 1;

  @include mixins.respond-to(desktopS) {
    min-height: 739px;
  }

  &__graphic {
    position: absolute;
    top: 0;
    right: 0;

    width: 51%;
    height: 739px;
    background-color: var(--color-elm);

    @include mixins.respond-to(notDesktop) {
      display: none;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -104px;

        width: 114px;
        height: 557px;
        background-color: var(--color-mine-shaft);
        border: 10px solid var(--color-elm);

        transform: translateY(-50%);

        z-index: -1;
      }
    }

    &--left {
      position: absolute;
      top: 142px;
      left: 250px;

      width: 243px;
      height: 438px;
      background-color: transparent;
      border: 17px solid #2C2C2C;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    height: 100%;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;
    background-color: transparent;

    margin: 0 0 33px 0;

    @include mixins.respond-to(notDesktop) {
      padding: 0 5% 0 5%;
    }

    & .swiper-slide {
      opacity: 0 !important;
    }

    & .swiper-slide-active {
      opacity: 1 !important;
    }

    & .swiper-slide-shadow {
      background-color: transparent !important;
    }

    &-slide {
      display: flex;
      align-items: stretch;

      background-color: transparent;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
        align-items: flex-start;

        height: auto;
      }
    }
  }

  &__slide {
    &-title {
      display: inline-block;

      max-width: 545px;

      color: var(--color-white);

      padding: 109px 0 0 0;
      margin: 0 20px 20px 0;

      @include mixins.respond-to(notDesktop) {
        padding: 54px 0 0 0;
        margin: 0 0 20px 0;
      }
    }

    &-text {
      max-width: 505px;
      background-color: transparent;

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 20px 0;
      }

      & p {
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        color: var(--color-silver-chalice);

        padding: 0;
        margin: 0;
      }
    }

    &-image {
      @include mixins.respond-to(notDesktop) {
        width: 100%;

        margin: auto 0 0 0;
      }
    }

    &-img {
      @include mixins.respond-to(notDesktop) {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }

  }

  &__underline {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @include mixins.respond-to(notDesktop) {
      display: none;

      padding: 0 5%;
    }

    & .persi-button {
      position: absolute;
      bottom: 43px;
      right: 5%;

      z-index: 3;

      @include mixins.respond-to(notDesktop) {
        bottom: 100px;
      }
    }
  }

  &__thumbnail-slider {
    width: 330px !important;

    padding: 0;
    margin: 0;

    @include mixins.respond-to(notDesktop) {
      width: 100% !important;
    }
  }

  &__thumbnail-slide {
    width: 155px !important;
    height: 86px !important;
  }

  &__thumbnail-pagination {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;

    width: 122px !important;
    height: 48px !important;

    margin: 0 0 10px 20px !important;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }

    & .swiper-pagination-current {
      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-white);
    }

    & .swiper-pagination-total {
      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      color: var(--color-white);
    }
  }
}