@use "../mixins";

.modal-callback {
  position: fixed;

  display: none;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;

  transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  z-index: 1000;

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 509px;
    height: 497px;
    background-color: var(--color-white);
    border-radius: 6px;

    padding: 55px;
    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      justify-content: center;

      width: 90%;

      padding: 30px 10px;
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    cursor: pointer;

    transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    @include mixins.respond-to(mobileOnly) {
      top: 15px;
      right: 15px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &--hidden {
      display: none;
    }

    &-title {
      font-family: var(--font-family-second);
      font-weight: 700;
      font-size: 25px;
      line-height: 37px;
      text-transform: uppercase;

      margin: 0 0 22px 0;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;

      margin: 0 0 15px 0;
    }

    &-form {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 100%;

      padding: 19px 0 0 0;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 2px;
        background-color: #D9D9D9;
      }
    }
  }

  &__form {
    &-input {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      width: 399px;
      height: 52px;
      border: 1px solid #B7B7B7;
      border-radius: 5px;

      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: var(--color-mine-shaft);

      padding: 15px 7px 15px 12px;
      margin: 0 0 26px 0;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
      }

      &--check:checked~.modal-callback__form-label::before {
        background: url(../img/image/modal-callback-check.svg) var(--color-elm);
        background-size: 18px 18px;
        // background-position: center;
        background-repeat: no-repeat;

        transition: background 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }
    }

    &-label {
      position: relative;

      user-select: none;
      cursor: pointer;

      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.05em;

      padding: 0 0 0 25px;
      margin: 0 0 36px 0;

      &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: 0;

        width: 18px;
        height: 18px;
        background: var(--color-elm);
        border-radius: 5px;

        transform: translateY(-50%);
        transition: background 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }

      & a {
        font-weight: 600;
        text-decoration: underline;
        color: var(--color-black);

        transition: color 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        padding: 0;
        margin: 0;

        &:hover {
          color: var(--color-elm);

          transition: color 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
      }
    }

    &-submit {
      width: 399px;
      height: 47px;

      background-color: var(--color-vivid-tangerine);
      border: 1px solid var(--color-mine-shaft);
      border-radius: 5px;
      cursor: pointer;

      font-family: var(--font-family-second);
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;

      transition: background-color 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      &:hover {
        background-color: var(--color-persimmon);

        transition: background-color 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }

      @include mixins.respond-to(notDesktop) {
        width: 100%;
      }
    }
  }

  &__success {
    display: none;

    width: 100%;
    height: 100%;

    &-text {
      display: inline-block;

      width: 100%;

      font-family: var(--font-family-second);
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
    }

    &--active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}