@use "../mixins";

.persi-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 156px;
  height: 157px;
  background-color: var(--color-vivid-tangerine);
  border-radius: 50%;
  cursor: pointer;

  font-weight: 500;
  font-size: 23px;
  line-height: 37px;
  text-align: center;
  color: var(--color-black);
  transform: scale(0);

  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-persimmon);

    transition: background-color 0.3s;
  }

  @include mixins.respond-to(notDesktop) {
    width: 110px;
    height: 110px;

    font-size: 18px !important;
    line-height: 22px !important;
  }
}