@use "../mixins";

.services {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 816px;
  background: url('../img/image/services-image.png') var(--color-elm);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixins.respond-to(notDesktop) {
    min-height: auto;
  }

  &__graphic-canvas {
    position: absolute;

    display: block;

    height: 100% !important;

    z-index: 1;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  &__canvas-layout {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: #1d707a;
    opacity: 80%;

    z-index: 2;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 77px 0 0 0;

    z-index: 3;

    @include mixins.respond-to(notDesktop) {
      padding: 50px 0 0 0;
    }
  }

  &__title {
    max-width: 1005px;

    margin: 0 0 30px 0;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-white);
    }
  }

  &__slider {
    position: relative;

    width: 90%;
    overflow: visible !important;

    padding: 0 0 77px 0;
    margin: 0 auto;

    z-index: 3;

    @include mixins.respond-to(notDesktop) {
      padding: 0 0 50px 0;
    }

    @include mixins.respond-to(desktopM) {
      width: 1296px;
      max-width: 1296px;

      margin: 0 auto;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & .swiper-slide {
      opacity: 0.6;

      transform: scaleY(0.7);
      transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6), transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      & .services__slide-info {
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }
    }

    & .swiper-slide-active {
      opacity: 1;

      transform: scaleY(1);
      transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6), transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      & .services__slide-info {
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }
    }

    & .swiper-slide-next {
      opacity: 1;

      transform: scaleY(1);
      transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6), transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      & .services__slide-info {
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }
    }

    &-arrows {
      position: absolute;
      top: 42%;
      left: 50%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: calc(90% + 90px);
      height: fit-content;
      pointer-events: none;
      user-select: none;

      transform: translate(-50%, -50%);

      margin: 0 auto;

      z-index: 20;

      @include mixins.respond-to(notDesktop) {
        width: calc(95%);
      }
    }

    @media(min-width: '1296px') {
      &-arrows {
        width: calc(1296px + 90px);

        @include mixins.respond-to(notDesktop) {
          width: 100%;
        }
      }
    }
  }

  &__slide {
    &-image {
      width: 100%;

      margin: 0 0 15px 0;
    }

    &-img {
      height: 440px;
      min-height: 440px;
      object-fit: cover;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
        min-width: auto;
      }

      @include mixins.respond-to(desktopD) {
        width: 550px;
        min-width: 550px;
      }

      @include mixins.respond-to(desktopM) {
        width: 636px;
        min-width: 636px;
      }


    }

    &-info {
      width: 100%;

      font-size: 20px;
      line-height: 32px;
      color: var(--color-white);
      text-align: left;
    }
  }
}